<div class="card text-center mt-5">
    <div class="card-header">
        
            <a href="#" class="nav-link d-inline"><i class="fa fa-facebook"></i></a>
            <a href="#" class="nav-link d-inline"><i class="fa fa-instagram"></i></a>
            <a href="#" class="nav-link d-inline"><i class="fa fa-twitter"></i></a>
            <a href="#" class="nav-link d-inline"><i class="fa fa-linkedin"></i></a>
        
      </div>
    <div class="card-body">
    <p class="text-muted">Powerd By &nbsp;<i class="fa fa-copyright"></i>&nbsp;<span>web-app services</span> @2020</p>
   </div>
  </div>