
img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    
}
.bi{
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: flip;

    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.5s;
}

.cart{
    display:none;
}